**/.project
**/.classpath
**/.tern-project
**/.bowerrc
**/.npmrc
**/*.jasper
**/*.pdf
**/*.iml
**/.settings/
**/target/
**/.metadata/
**/.idea/
**/node_modules/
**/resources/components
**/pdf/
**/xml/
**/.venv/
*.log
nbactions.xml
nb-configuration.xml
faces-config.NavData
authors-transform.txt
package-lock.json
*.lock
bower_components


venv
